<tr>
  <td data-label="First Name"><%= consultation.date %></td>
  <td data-label="Last Name"><%= consultation.patient.first_name %> <%= consultation.patient.last_name %></td>
  <td data-label="Actions">
    <%= link_to 'Edit', edit_patient_consultation_path(consultation.patient, consultation), class: 'text-decoration-none fw-5' %>
  </td>
</tr>
