<div id="consultations-list" class="container">
  <table id="consultations-table" class="table mt-3 table-light table-striped table-hover">
    <tbody>
      <% if patient.consultations.present? %>
        <%= render "consultations/consultation_header" %>
        <% patient.consultations.each do |consultation| %>
        <tr>
          <%= render "consultations/consultation_info", patient: patient, consultation: consultation %>
          <%= render "consultations/actions", patient: patient, consultation: consultation %>
        </tr>
        <% end %>
      <% else %>
        <p>No consultations yet. Go ahead and add the first one for this patient</p>
      <% end %>
    </tbody>
  </table>
</div>
