<td data-label="Actions">
  <%= link_to patient_path(patient) do %>
  <i class="fa fa-eye" aria-hidden="true"></i>
  <% end  %>
  <%= link_to edit_patient_path(patient) do %>
  <i class="fa-solid fa-pen-to-square"></i></i>
  <% end  %>
</td>
